@model UserPasswordUpdateModel

<div class="mt-4">
    <form asp-action="ChangePassword" asp-controller="Account" method="post" class="p-4 w-75 mx-auto">
        <div class="mb-3">
            <input asp-for="OldPassword" class="form-control" placeholder="Eski şifreniz" />
        </div>
        <div class="mb-3">
            <input asp-for="NewPassword" class="form-control" placeholder="Yeni şifreniz" />
        </div>
        <div class="mb-3">
            <input asp-for="ConfirmNewPassword" class="form-control" placeholder="Yeni şifre tekrar" />
        </div>
        <div class="mb-3 text-center">
            <button class="btn btn-primary w-50" type="submit">Değiştir</button>
        </div>
        <div class="text-danger text-start" asp-validation-summary="All">
        </div>
    </form>
</div>